<button type="submit" id="scrape">Scrape For New Articles</button>
{{!-- <button type="submit" id="show-dat">Show Dat</button> --}}

<h1>Guardian Scraper</h1>

<h2>Articles</h2>

<div id="articles"  
{{#each articles}}
{{/each}}>
  </div>

  <div id="notes"></div>
